{% extends bento_base_template %}
{% set bento__home = "/tmp" %}
{% block SETUP_BENTO_ENTRYPOINT %}
EXPOSE 3000
ENV BENTOML_CONFIG={{bento__path}}/bentoml_config.yaml

RUN --mount=type=cache,from=cached,mode=0777,target=/root/.cache/pip \
	pip install awslambdaric==2.0.0 mangum==0.12.3

USER root
ADD ./aws-lambda-rie /usr/local/bin/aws-lambda-rie
RUN chmod +x /usr/local/bin/aws-lambda-rie
RUN chmod +x {{bento__path}}/env/docker/entry_script.sh
ENTRYPOINT ["{{ 
    expands_bento_path("env", "docker", "entry_script.sh", bento_path=bento__path)
    }}"]
{% endblock %}
