{% extends bento_base_template %}
{% set bento__home = "/tmp" %}
{% block SETUP_BENTO_ENTRYPOINT %}
EXPOSE 3000
ENV BENTOML_CONFIG={{bento__path}}/bentoml_config.yaml

RUN {{ common.mount_cache("/root/.cache/pip") }} pip install awslambdaric==2.0.8 mangum==0.12.3

USER root
ADD ./aws-lambda-rie /usr/local/bin/aws-lambda-rie
RUN chmod +x /usr/local/bin/aws-lambda-rie
RUN chmod +x {{bento__path}}/env/docker/entry_script.sh
ENTRYPOINT ["{{bento__path}}/env/docker/entry_script.sh"]
{% endblock %}
